* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0;
}

@media (max-width: 1200px) {
  #hero .hero--group__title {
    margin-left: 115px;
  }
  #hero .hero--group h1 {
    margin-left: 120px !important;
  }
  #hero .hero--group p {
    margin-left: 120px !important;
  }
  #hero .hero--group__btn button {
    margin-left: 120px;
  }
  #hero .hero--group__btn input {
    margin-left: 110px;
  }
  #hero .hero--img__group {
    margin-left: -80px;
  }
  #about h1 {
    margin-left: 100px;
  }
  #about .about {
    margin-left: 60px;
  }
  #navbar .navbar {
    margin-left: 80px;
  }
  #navbar .navbar--group p {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    width: 313px;
    padding-top: 15px;
  }
  #navbar .navbar--title p {
    font-weight: 400;
    font-size: 13px;
    line-height: 132.19%;
    color: #FFFFFF;
    width: 373px;
    padding-top: 15px;
  }
  #img .img {
    margin-left: -150px;
  }
  #model h1 {
    padding: 0 100px;
  }
  #model .model {
    margin: 0 0 0 30px;
  }
  #model .model--one {
    margin: 0 0 0 30px;
  }
  #web h1 {
    padding-top: 120px;
    padding-left: 120px;
  }
  #footer .footer-group {
    padding-left: 450px;
  }
}
@media (max-width: 1024px) {
  #hero .hero--group h1 {
    padding-left: 150px;
  }
  #hero .hero--group p {
    padding-left: 150px;
  }
  #hero .hero--group__btn button {
    margin-left: 250px;
  }
  #hero .hero--group__btn input {
    margin-left: 250px;
  }
  #hero .hero--img__group {
    margin-left: -160px;
  }
  #title .title--group p {
    font-size: 5px;
  }
  #title .title--nav {
    padding-top: 60px;
  }
  #title .title--nav p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding-top: 20px;
  }
  #title .title--link {
    padding-top: 60px;
  }
  #title .title--link p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding-top: 20px;
  }
  #about {
    padding-top: 80px;
  }
  #about .about {
    display: flex;
    flex-direction: column;
  }
  #about .about--group {
    padding: 40px 0;
  }
  #img {
    display: none;
  }
  #model h1 {
    display: none;
  }
  #model .model {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
  #model .model--one {
    margin: 20px 0;
  }
  #web .web {
    margin-left: -200px;
  }
  #footer .footer-group {
    display: none;
  }
}
@media (max-width: 992px) {
  #hero .hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #hero .hero--group__title {
    margin-left: 250px;
  }
  #hero .hero--group__btn--input {
    display: flex;
    margin: 30px 0 0 10px;
  }
  #hero .hero--img img {
    width: 350px;
  }
  #hero .hero--img__group {
    position: absolute;
    margin-left: -160px;
  }
  #title .title--nav {
    padding-top: 60px;
  }
  #title .title--link {
    padding-top: 60px;
  }
  #img .img {
    display: none;
  }
  #model h1 {
    padding-left: -100px;
  }
}
@media (max-width: 768px) {
  #header .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #header .header--apl {
    padding: 10px 10px;
  }
  #header .header--group {
    display: none;
  }
  #header .header--icon {
    display: none;
  }
  #hero .hero {
    display: flex;
    flex-direction: column;
  }
  #hero .hero--group {
    padding-top: 60px;
  }
  #hero .hero--group h1 {
    margin-top: -150px;
    margin-left: 20px;
  }
  #hero .hero--group__btn--input {
    display: flex;
    margin: 30px 0 0 10px;
  }
  #hero .hero--img {
    margin-left: 400px;
  }
  #hero .hero--img__group {
    position: absolute;
    margin-left: -160px;
  }
  #model h1 {
    padding-left: 300px;
  }
  #model .model {
    padding-top: 70px;
  }
  #web .web {
    display: flex;
    flex-direction: column;
  }
  #web .web--img {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  #web .web--group {
    padding-left: 150px;
    margin: 50px;
  }
  #footer .footer-group {
    padding-left: 600px;
  }
  #footer .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #footer .footer--img {
    display: flex;
    flex-direction: column;
  }
  #footer .footer--group {
    display: none;
  }
  #footer .footer--end {
    display: none;
  }
}
@media (max-width: 576px) {
  #hero .hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #hero .hero--group {
    padding-left: -20px;
  }
  #navbar .navbar {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }
  #navbar .navbar--title {
    padding: 40px 0;
  }
}
@media (max-width: 451px) {
  #hero .hero--group {
    margin-left: -180px;
  }
  #hero .hero--img img {
    margin-left: -135px;
  }
  #title h1 {
    font-size: 20px;
  }
  #title .title {
    display: flex;
    flex-direction: column;
  }
  #about .about--par p {
    font-size: 2px;
    width: 40px;
  }
  #about .about--img img {
    width: 250px;
  }
  #navbar .navbar {
    display: flex;
    flex-direction: column;
  }
  #navbar .navbar--group {
    padding: 40px 0;
  }
  #model .model--one {
    margin-left: -50px;
  }
  #web h1 {
    margin-left: -70px;
  }
  #web .web--img {
    padding-left: 30px;
  }
  #web .web--img__image {
    margin-left: 100px;
  }
  #web .web--group {
    margin-left: 150px;
  }
}
@media (max-width: 400px) {
  #hero .hero--group {
    padding-left: 50px;
  }
  #hero .hero--img__group img {
    width: 250px;
  }
  #hero .hero--img__group #hero .hero--img img {
    width: 200px;
    margin-left: -180px;
  }
  #hero .hero .hero--group h1 {
    font-size: 50px;
  }
  #hero .hero .hero--group p {
    font-size: 23px;
  }
  #hero .hero .hero--img .hero--img__group img {
    margin-left: 20px;
  }
  #hero .hero--img {
    margin-left: 200px;
  }
  #title h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
    text-align: center;
  }
  #title .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #title .title--group p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
  }
  #title .title--nav {
    padding-top: 60px;
  }
  #title .title--nav p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding-top: 20px;
  }
  #title .title--link {
    padding-top: 60px;
  }
  #title .title--link p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding-top: 20px;
  }
  #about .about .about--par p {
    font-size: 20px;
    width: 350px;
  }
  #about .about--img img {
    width: 200px;
  }
  #navbar .navbar .navbar--group p {
    width: 250px;
  }
  #navbar .navbar .navbar--title p {
    width: 250px;
  }
  #model .model--one {
    width: 200px;
    height: 418px;
  }
  #model .model--one img {
    width: 180px;
    margin-left: 90px;
  }
  #model .model--one__group p {
    font-size: 10px;
  }
  #web .web--img {
    margin-top: -60px;
  }
  #web .web--img--res {
    width: 150px;
  }
  #web .web--img__image {
    width: 200px;
  }
}
@media (max-width: 380px) {
  #hero .hero--group {
    padding-left: 60px;
  }
  #about h1 {
    text-align: start;
    font-size: 25px;
  }
  #model .model {
    margin-left: -1px;
  }
}
body {
  background: rgba(0, 0, 0, 0.97);
}

#header {
  background: #FFFFFF;
  padding: 20px 0;
  transition: 0.1s;
}
#header:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px white;
  border: 3px solid red;
  background: white;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header .header--apl {
  display: flex;
  flex-direction: column;
}
#header .header--group a {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  margin: 0 15px 0 40px;
  transition: 0.5s;
}
#header .header--group a:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px #ff0000);
}
#header .header--icon .ionican {
  width: 18px;
  height: 18px;
  transition: 0.5s;
}
#header .header--icon .ionican:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px #ff0000);
}
#header .header--icon .href {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  transition: 0.5s;
}
#header .header--icon .href:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px #ff0000);
}

#hero .hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#hero .hero--group__title {
  width: 2px;
  height: 143px;
  left: 137px;
  top: 325px;
  background: #6A6DBC;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
#hero .hero--group h1 {
  font-weight: 700;
  font-size: 70px;
  color: #FFFFFF;
  left: 137px;
  top: 325px;
  margin-top: -150px;
  margin-left: 20px;
  transition: 0.5s;
}
#hero .hero--group h1:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px #ff0000);
}
#hero .hero--group p {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
  margin-left: 20px;
  width: 441px;
  transition: 0.5s;
}
#hero .hero--group p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px #ff0000);
}
#hero .hero--group__btn--input {
  display: flex;
  margin: 30px 0 0 10px;
}
#hero .hero--group__btn button {
  width: 188.31px;
  height: 43px;
  background: #F7A325;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  color: #000000;
  margin-top: 100px;
  transition: 0.4s;
}
#hero .hero--group__btn button:hover {
  background: transparent;
  border: 2px solid red;
  color: white;
}
#hero .hero--group__btn input {
  width: 36px;
  height: 36px;
  left: 135px;
  top: 654px;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
#hero .hero--group__btn input:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px #ff0000);
}
#hero .hero--group__btn a {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-left: 10px;
  transition: 0.4s;
}
#hero .hero--group__btn a:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}
#hero .hero--img {
  padding: 90px 0;
}
#hero .hero--img__group {
  position: absolute;
  margin-left: -160px;
  transition: 0.5s;
}
#hero .hero--img__group:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px rgb(255, 0, 0);
  border: 3px solid white;
  background: rgba(255, 0, 0, 0.5);
}

#title h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  text-align: center;
  transition: 0.4s;
}
#title h1:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}
#title .title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#title .title--group img:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#title .title--group p {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  transition: 0.4s;
}
#title .title--group p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}
#title .title--nav {
  padding-top: 60px;
}
#title .title--nav img {
  transition: 0.5s;
}
#title .title--nav img:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: transparent;
}
#title .title--nav p {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  padding-top: 20px;
  transition: 0.4s;
}
#title .title--nav p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}
#title .title--link {
  padding-top: 60px;
}
#title .title--link img {
  transition: 0.5s;
}
#title .title--link img:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#title .title--link p {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  padding-top: 20px;
  transition: 0.4s;
}
#title .title--link p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}

#about {
  padding-top: 80px;
}
#about h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  text-align: center;
  transition: 0.4s;
}
#about h1:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}
#about .about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 100px;
}
#about .about--par p {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  width: 450px;
  transition: 0.4s;
}
#about .about--par p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}
#about .about--group {
  display: flex;
}
#about .about--group__input {
  color: transparent;
  width: 82px;
  height: 82px;
  border: 6px solid #F7A325;
  background: #F7A325;
  border-radius: 15px;
  transition: 0.5s;
}
#about .about--group__input:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#about .about--group p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  width: 147px;
  padding-left: 10px;
  transition: 0.5s;
}
#about .about--group p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}
#about .about--img {
  transition: 0.5s;
}
#about .about--img:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}

#navbar .navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;
}
#navbar .navbar--group img {
  transition: 0.5s;
}
#navbar .navbar--group img:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#navbar .navbar--group p {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
  width: 313px;
  padding-top: 15px;
  transition: 0.5s;
}
#navbar .navbar--group p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}
#navbar .navbar--title img {
  transition: 0.5s;
}
#navbar .navbar--title img:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#navbar .navbar--title p {
  font-weight: 400;
  font-size: 13px;
  line-height: 132.19%;
  color: #FFFFFF;
  width: 373px;
  padding-top: 15px;
  transition: 0.5s;
}
#navbar .navbar--title p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}

#img .img {
  margin: 100px 180px;
}
#img .img--group {
  width: 111px;
  height: 631px;
}
#model h1 {
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
  margin: 30px 0;
  transition: 0.6s;
}
#model h1:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px #ff0000);
}
#model .model {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 80px;
}
#model .model--one {
  width: 350px;
  height: 618px;
  left: 135px;
  top: 2882px;
  background: #363636;
  border-radius: 87px;
  transition: 0.4s;
}
#model .model--one:hover {
  transform: translatey(-35px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
}
#model .model--one:hover img {
  transition: 0.5s;
}
#model .model--one:hover img:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#model .model--one img {
  margin: 20px 80px;
}
#model .model--one button {
  width: 171.34px;
  height: 39.19px;
  left: 224px;
  top: 3220px;
  background: #F7A325;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border-radius: 10px;
  border: none;
  margin: 15px 80px;
  transition: 0.4s;
}
#model .model--one button:hover {
  background: transparent;
  border: 2px solid red;
  color: white;
}
#model .model--one__group {
  display: flex;
  padding: 30px 0;
}
#model .model--one__group--lin {
  width: 158px;
  height: 0px;
  border: 3px solid #F7A325;
  transform: rotate(90deg);
  margin-top: 70px;
}
#model .model--one__group p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  width: 304px;
  margin-left: -65px;
  transition: 0.5s;
}
#model .model--one__group p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}

#web h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 120px;
  transition: 0.5s;
}
#web h1:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}
#web .web {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#web .web--img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#web .web--img img {
  transition: 0.5s;
}
#web .web--img img:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#web .web--img__image {
  margin-left: -300px;
  transition: 0.5s;
}
#web .web--img__image:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#web .web--group {
  display: flex;
  flex-direction: column;
}
#web .web--group__inp {
  width: 339px;
  height: 55px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background: #000000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.33), -5px -5px 15px rgba(0, 0, 0, 0.33);
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
  transition: 0.4s;
}
#web .web--group__inp:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#web .web--group__nom {
  width: 339px;
  height: 55px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background: #000000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.33), -5px -5px 15px rgba(0, 0, 0, 0.33);
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
#web .web--group__nom:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#web .web--group button {
  width: 339px;
  height: 42px;
  background: #F7A325;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin: 20px 0;
  transition: 0.4s;
}
#web .web--group button:hover {
  background: transparent;
  border: 2px solid red;
  color: white;
}
#web .web--group p {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  width: 258px;
  transition: 0.5s;
}
#web .web--group p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px #ff0000);
}

#footer {
  transition: 0.5s;
  background: #C4C4C4;
  padding: 20px 0;
}
#footer:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px red;
  border: 3px solid white;
  background: red;
}
#footer .footer-group {
  padding-left: 600px;
}
#footer .footer-group .footer-group-ica {
  width: 25px;
  height: 25px;
  padding-top: 20px;
  padding-left: 30px;
}
#footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#footer .footer--img {
  display: flex;
  flex-direction: column;
}
#footer .footer--group a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  margin: 0 0 0 80px;
  transition: 0.5s;
}
#footer .footer--group a:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px white);
}
#footer .footer--end__icon {
  width: 18px;
  height: 18px;
  transition: 0.5s;
}
#footer .footer--end__icon:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px white);
}
#footer .footer--end a {
  font-weight: 700;
  font-size: 10px;
  color: #000000;
  transition: 0.5s;
}
#footer .footer--end a:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 5px 5px white);
}

/*# sourceMappingURL=style.css.map */
