@media(max-width: 1200px) {


  #hero {
    .hero {

      &--group {

        &__title {
          margin-left: 115px;
        }

        h1 {
          margin-left: 120px !important;

        }

        p {

          margin-left: 120px !important;
        }


        &__btn {
          &--input {

          }

          button {
            margin-left: 120px;
          }


          input {
            margin-left: 110px;
          }

          a {

          }
        }


      }

      &--img {


        &__group {
          margin-left: -80px;
        }

      }
    }
  }


  #about {
    h1 {
      margin-left: 100px;
    }


    .about {
      margin-left: 60px;

    }
  }

  #navbar {
    .navbar {
      margin-left: 80px;

      &--group {
        p {
          font-weight: 400;
          font-size: 13px;
          line-height: 17px;
          color: #FFFFFF;
          width: 313px;
          padding-top: 15px;
        }
      }

      &--title {
        p {
          font-weight: 400;
          font-size: 13px;
          line-height: 132.19%;
          color: #FFFFFF;
          width: 373px;
          padding-top: 15px;
        }
      }
    }
  }

  #img {
    .img {
      margin-left: -150px;

    }
  }

  #model {
    h1 {
      padding: 0 100px;
    }

    .model {
      margin: 0 0 0 30px;

      &--one {
        margin: 0 0 0 30px;
      }
    }
  }

  #web {
    h1 {

      padding-top: 120px;
      padding-left: 120px;
    }

  }


  #footer {
    .footer-group {
      padding-left: 450px;

    }
  }
}

@media(max-width: 1024px) {


  #hero {
    .hero {

      &--group {

        &__title {

        }

        h1 {
          padding-left: 150px;

        }

        p {
          padding-left: 150px;
        }


        &__btn {
          &--input {

          }

          button {
            margin-left: 250px;
          }


          input {
            margin-left: 250px;
          }

        }


      }

      &--img {


        &__group {

          margin-left: -160px;
        }

      }
    }
  }

  #title {
    h1 {

    }

    .title {

      &--group {

        p {
          font-size: 5px;

        }
      }

      &--nav {

        padding-top: 60px;

        p {
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          color: #FFFFFF;
          padding-top: 20px;
        }
      }

      &--link {
        padding-top: 60px;

        p {
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          color: #FFFFFF;
          padding-top: 20px;
        }
      }
    }

  }

  #about {
    padding-top: 80px;


    .about {
      display: flex;
      flex-direction: column;

      &--par {
        p {


        }
      }

      &--group {
        padding: 40px 0;


      }

      &--img {
      }
    }
  }


  #img {
    display: none;
    .img {
      &--group {

      }
    }

  }


  #model {
    h1 {
      display: none;
    }

    .model {

      display: flex;
      flex-direction: column;
      padding-top: 40px;

      &--one {
        margin: 20px 0;
      }
    }
  }


  #web {


    .web {
      margin-left: -200px;

    }

  }


  #footer {
    .footer-group {
      display: none;
    }
  }
}


@media(max-width: 992px) {
  #hero {
    .hero {
      display: flex;
      align-items: center;
      justify-content: space-around;

      &--group {

        &__title {
          margin-left: 250px;
        }


        &__btn {
          &--input {
            display: flex;
            margin: 30px 0 0 10px;

            &__nav {

            }
          }

        }


      }

      &--img {
        img {
          width: 350px;
        }

        &__group {
          position: absolute;
          margin-left: -160px;
        }

      }
    }
  }

  #title {


    .title {

      &--group {


      }

      &--nav {

        padding-top: 60px;


      }

      &--link {
        padding-top: 60px;

      }
    }

  }

  #img {

    .img {

      display: none;

      &--group {


      }
    }
  }

  #model {
    h1 {
      padding-left: -100px;

    }


  }


}


@media(max-width: 768px) {
  #header {

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &--apl {
        padding: 10px 10px;
      }

      &--group {
        display: none;
      }

      &--icon {
        display: none;
      }
    }
  }


  #hero {
    .hero {
      display: flex;
      flex-direction: column;

      &--group {
        padding-top: 60px;

        &__title {

        }

        h1 {

          margin-top: -150px;
          margin-left: 20px;

        }


        &__btn {
          &--input {
            display: flex;
            margin: 30px 0 0 10px;
          }


        }


      }

      &--img {
        margin-left: 400px;

        &__group {
          position: absolute;
          margin-left: -160px;
        }

      }
    }
  }

  #model h1{
    padding-left: 300px;
  }
  #model {
    h1 {


    }

    .model {
      padding-top: 70px;

    }
  }

  #web {


    .web {
      display: flex;
      flex-direction: column;

      &--img {
        display: flex;
        justify-content: center;
        padding-top: 50px;

        &__image {

        }

      }


      &--group {
        padding-left: 150px;
        margin: 50px;

      }
    }
  }


  #footer {
    .footer-group {
      padding-left: 600px;


    }


    .footer {
      display: flex;
      align-items: center;
      justify-content: space-around;

      &--img {
        display: flex;
        flex-direction: column;
      }

      &--group {
        display: none;

      }

      &--end {
        display: none;
      }

    }
  }

}

@media(max-width: 576px) {


  #hero {
    .hero {
      display: flex;
      align-items: center;
      justify-content: space-around;

      &--group {
        padding-left: -20px;
      }

    }
  }

  #navbar {
    .navbar {
      display: flex;
      flex-direction: column;
      padding-left: 50px;

      &--title {
        padding: 40px 0;
      }
    }
  }


}

@media(max-width: 451px) {


  #hero {
    .hero {


      &--group {
        margin-left: -180px;
      }


      &--img {
        img {
          margin-left: -135px;
        }

      }
    }
  }

  #title {
    h1 {
      font-size: 20px;
    }

    .title {

      display: flex;
      flex-direction: column;
    }

  }

  #about {
    .about {


      &--par {
        p {
          font-size: 2px;
          width: 40px;
        }
      }


      &--img {
        img {
          width: 250px;
        }
      }
    }
  }

  #navbar {
    .navbar {
      display: flex;
      flex-direction: column;

      &--group {
        padding: 40px 0;

      }
    }
  }


  #model {

    .model {
      &--one {
        margin-left: -50px;
      }
    }
  }

  #web {
    h1 {
      margin-left: -70px;
    }

    .web {


      &--img {
        padding-left: 30px;

        img {

        }

        &__image {
          margin-left: 100px;
        }

      }


      &--group {
        margin-left: 150px;
      }
    }
  }


}

@media(max-width: 400px) {
  #hero .hero--group{
    padding-left: 50px;
  }

  #hero .hero--img__group {
    img {
      width: 250px;
    }

    #hero .hero--img img {

      width: 200px;
      margin-left: -180px;


    }
  }
  #hero {
    .hero {

      .hero--group {

        &__title {

        }

        h1 {
          font-size: 50px;

        }

        p {

          font-size: 23px;

        }


        &__btn {


          &--input {

          }


        }


      }

      .hero--img {

        img {

        }

        .hero--img__group {
          img {
            margin-left: 20px;

          }
          }

        }
      }
    }
  #hero .hero--img{
    margin-left: 200px;
  }

    #title {
      h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        color: #FFFFFF;
        text-align: center;
      }

      .title {

        display: flex;
        align-items: center;
        justify-content: space-around;

        &--group {

          p {
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #FFFFFF;

          }
        }

        &--nav {

          padding-top: 60px;

          p {
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #FFFFFF;
            padding-top: 20px;
          }
        }

        &--link {
          padding-top: 60px;

          p {
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #FFFFFF;
            padding-top: 20px;
          }
        }
      }

    }

    #about {

      h1 {

      }

      .about {


        .about--par {
          p {
            font-size: 20px;
            width: 350px;

          }
        }

        &--group {


          input {

          }

          p {

          }
        }

        &--img {
        }
      }
    }

    #about .about--img img {
      width: 200px;
    }

    #navbar {
      .navbar {

        .navbar--group {
          p {

            width: 250px;
          }
        }

        .navbar--title {
          p {
            width: 250px;
          }
        }
      }
    }


    #model {


      .model {

        &--one {
          width: 200px;
          height: 418px;

          img {
            width: 180px;
            margin-left: 90px;
          }

          &__group {

            p {
              font-size: 10px;
            }
          }
        }
      }
    }

    #web {
      .web {

        &--img {
          margin-top: -60px;

          &--res {
            width: 150px;
          }

          &__image {
            width: 200px;
          }

        }
      }
    }

  }

  @media(max-width: 380px) {


    #hero .hero--group {
      padding-left: 60px;
    }

    #about h1{
      text-align: start;
      font-size: 25px;
    }
    #model .model{
      margin-left: -1px;
    }


  }
